<h1>About Us</h1>
<p>
    Wedding.ly is an application to help organize all your weddings details for your big day! It provides brides a step-by-step planner, an interactive feed to share ideas with your bridal party, and allows you to upload your own photos to organize. We are partnered with local wedding vendors in your area to schedule appointments online with ease. Created by 
    <a href="https://twitter.com/JSkow1">Julie Skowronek</a>. 
    This is the sample application.
</p>